/*=======================
GLOBAL
=========================*/
a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
font-family: 'Montserrat', sans-serif;
}

.modal-backdrop-in {
  opacity: .8;
}

/*=======LOGIN========*/
.ffont{
  font-size: 150px;
  color: white;
  text-align: center;
  margin-top: 1%;
}

#loginheader{
  background: rgba(255,255,255, 0.80);
  width: 50%;
  text-align:center;
  margin-left:25%;
  padding:15px;
} 

#loginbutton{
  width:200px;
  height:30px;
  font-size:15px;
  margin-left: 40%;
  margin-top:1%;

}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 400px;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

comments .list-group {
  margin-bottom: 0;
}

comments>.list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}

.multiSelect .button {
  background-image: none;
}

.multiSelect .button:hover {
  background-image: none;
}

.multiSelect .button:focus {
  border-color: rgba(102, 175, 233, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

.post-buttons .btn{
  padding: 10px ;
  margin-bottom: 3%;

}

.post-buttons{
   margin-left: 40%;
}

.live-post{
  margin-top: .5%;
  margin-left: 29.15%;
}

.live-post-image{
  margin-top: -1.3%;
  margin-left: 29.15%;
}

/*===================================
NAVBAR
=====================================*/
.navbar {
  margin-bottom: 0;
  background-color: rgb(196,154,111);
}

.eco{
  color:white;
  font-weight: bold;
  font-size:30px;
  margin-left:18%;
}


.login {
  background-image: url(../img/loginbg.jpg);
  background-size: cover;
}

/*===================================
GROUPS
=====================================*/

.add-group {
  width:150px;
  text-align: center;
 border-color: rgb(196,154,111);
 border-radius: 5px;
 border-width: 2px;
  height:35px;
  width:125px;
  margin-top:10%;

}

.pstype{
  margin-bottom:1%;
}

.add-group:hover {
  font-weight: bold;
}

.group-bar {
  height:100%;
  padding-left: 5%;
  background-color: rgba(255,255,255,0.5);

}

.groupmembername{
  margin-left:3%;
  margin-top:3%;
}

.addMember{
  margin-left:8%;
  cursor:pointer; 
}

.deletemember{
  margin-left:-80%;
  margin-top:25%;
}


.groups{
 background-color: rgb(196,154,111);
 border-radius: 5px;
 color:white;
 margin-left:1%;
 margin-top:5%;
 margin-bottom:10%;
 height:35px;
width:125px;
text-align:center;
padding-bottom: 20px;
}
.group-delete {
  margin-left:55%;
  margin-top:-20%;
  color:black !important;
}


.group-delete a:hover {
  color: red !important;
}

/*=====RIGHT COLUMN=== */
.friendlist{
  padding-left:20px;
}




/*===================================
POST LINKS
=====================================*/
.collapse-box {
  height: auto;
/*  width: 80%;*/
}

.link-form {
  margin-bottom: 10px;
}

#link-title {
  margin-top: 20px;
}

.post-buttons .btn{
  padding: 10px ;
  margin-bottom: 3%;
  margin-top:5%;
}

.post-buttons{
   margin-left: 40%;
}

.btn-group{
  margin-top:8%;
  margin-left:10%;
}

/*==================================
TEXT POST MODAL
====================================*/

.text-post-container {
  padding: 30px 40px 70px 40px;
  opacity: 1.0;
}

div.modal-content {
  background-color: rgba(196,154,111, .9);
}

.modal-content {
  width: 600px;
  border-radius: 0px;
}

.modal-dialog {
  margin-top: 50px;
}

.text-box {
  display: block;
}

.text-title, .text-content {
  margin-bottom: 20px;
}

.text-title h2, .text-post-container h2,
.live-post p {
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}

#who {
  margin-left: 15px;
}

.group-post-text {
  margin-left: 30px;
  width: 200px;
  display: inline-block;
  float: right;
  margin-top: -55px;
}

.live-post {
  text-align: center;
  margin-right: 12px;
  margin-top: 30px;
  margin-left: 30% !important;
  border: solid 3px white;
  padding: -20px -40;
  width: 200px;
  border-radius: 5px;
}

.live-post:hover {
  border: solid 3px white;
  background-color: white;
  font-color: #a47443;
}

.live-post h2:hover,
.live-post p:hover {
  color: #a47443;
}

.live-post p {
  padding-top: 20px;
  font-size: 30px;
}

/*===============================
IMAGE POST MODAL
=================================*/
.picture-box {
  padding: 30px 40px 70px 40px;
}

.drop-box {
  height: 110px;
  color: #a47443;
}

.image-text-header {
  margin-top: 52px;
  float: right;
}

.image-title {
  margin-bottom: 20px;
}

.image-border {
  border-right: 1px dotted white;
  padding: 0px 30px 0px 0;
}

.picture-box h2, .picture-box {
  color: white;
}

.image-groups h2 {
  display: inline-block;
}

.image-group-select {
  margin: -15px 0px 0px 50px !important;
}

.image-lp {
  margin-top: -30px;
    margin-bottom: 50px;
    margin-left: 33% !important;
}

/*=================================
LINK POST MODAL
===================================*/
.link-box, .link-box h2 {
  margin-left: 10px;
}