<div class="modal-header">
  <h3 class="modal-title">create and name a group</h3>
</div>

<div class="modal-body">
  <div class='row'>
    <div class='col-sm-3'>
      <label>Name:</label>
    </div>
    <div class='col-sm-9'>
      <input type='text' class='form-control' ng-model='newGroup.name' required>
    </div>
  </div>

  <div class="checkbox" ng-repeat='(id, name) in friends'>
    <label>
      <input type="checkbox" ng-model="$parent.newGroup.members[id]" ng-true-value="{{ name }}">{{name}}
    </label>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$close()">ok</button>
  <button class="btn btn-warning" ng-click="$dismiss()">cancel</button>
</div>
