<div class="modal-header">
  <h3 class="modal-title">Select Friends to Add to {{ groupName }}</h3>
</div>

<div class="modal-body">
  <div class="checkbox" ng-repeat='(id, name) in nonMembers'>
    <label>
      <input type="checkbox" ng-model="$parent.newMembers[id]" ng-true-value='{{ name }}'>
      {{ name }}
    </label>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$close()">OK</button>
  <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>
