<div class="panel panel-default">
  <div class="panel-heading">
    <img ng-src='{{ pic }}'> <strong>{{ post.user.name }}</strong> - {{ post.title }}
    <div class='pull-right'>
      {{ post.timeStamp | date : 'short'}}
      <span class='glyphicon glyphicon-remove' ng-if='ownPost()' ng-click='removePost()'></span>
    </div>
  </div>
  <div class="panel-body">
    {{ post.content }}
    <div class='thumbnail'>
      <img ng-if='post.image' ng-src='{{post.image}}'>
      <img ng-if='post.link' ng-src='{{post.link}}'>
    </div>
  </div>
  <comments></comments>
</div>
