<div class='row picture-box'>
  <div class='col-sm-5'>

        <h2>post a picture</h2>
      <div class="image-border">
        <div class='row'>
          <div class='col-sm-12'>
            <input type='url' class="form-control" ng-model='imageUrl' placeholder='image url'>
          </div>
        </div>


        <div class='row'>
          <div class='col-sm-12'>
            or
            <input type="file" class='form-control' ng-file-select="onFileSelect($files)" placeholder='image upload'>
            or
            <div class='thumbnail' ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class" ng-show="dropSupported">
              <div ng-show='!img' class='drop-box'>Drop Image Here</div>
              <img ng-show='img' ng-src='{{img}}'>
            </div>
            <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
          </div>
        </div>
      </div>

  </div>
          
          <div class="col-sm-7">
            <h2 class="image-text-header">...and tell a story</h2>
            <input class='form-control image-title' type="text" ng-model='postTitle' placeholder='title'>
            <textarea class="form-control" rows="8" ng-model='postContent'></textarea>
          </div>



        <div class='row'>
          <div class='col-sm-9'>
          </div>
        </div>


        
  <div class='col-sm-12 image-groups'>
    <h2>who can see this?</h2>
    <multi-select input-model="groupsSelect" class="image-group-select" button-label="name" item-label="name" tick-property="selected" output-model="postGroups">
    </multi-select>
  </div>
</div>




<div class='row'>
  <div class='col-sm-3 live-post image-lp' ng-click='makePost(postTitle, postContent, postGroups, imageUrl, img); $close();'>
        <p>reveal</p>
      </div>
</div>
