<div class='row picture-box link-box'>

  <h2>share a link</h2>
  <div class='col-sm-11'>

    <div class='row'>
      <div class="col-sm-12">
        <input class='form-control' type="text" ng-model='postTitle' placeholder="title">
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12'>
        <input type='url' class="form-control" ng-model='postLink' placeholder='link'>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12'>
        <textarea class='form-control' rows="6" ng-model='postContent'></textarea>
      </div>
    </div>
  </div>



  <div class='col-sm-12 image-groups'>
    <h2>who can see this?</h2>
    <multi-select input-model="groupsSelect" class="image-group-select" button-label="name" item-label="name" tick-property="selected" output-model="postGroups">
    </multi-select>
  </div>

</div>


<div class='row'>
  <div class='col-sm-3 live-post image-lp' ng-click='makePost(postTitle, postContent, postGroups, postLink); $close();'>
        <p>reveal</p>
      </div>
</div>