<div class="navbar navbar-default" role="navigation" ng-controller='AuthCtrl'>
  <div class='container-fluid'>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Eco</a>
    </div>

    <ul class='nav navbar-nav navbar-right' ng-show='loggedIn()'>
      <li>
        <p class='navbar-text'>Hello, {{ name }}</p>
      </li>
      <li>
        <a ng-click="logout()">Logout</a>
      </li>
    </ul>

  </div>
</div>

<div class='container'>
  <div class='col-sm-offset-5'>
    <button class='btn btn-default' ng-click="switchPost('text')">Text</button>
    <button class='btn btn-default' ng-click="switchPost('image')">Image</button>
    <button class='btn btn-default' ng-click="switchPost('link')">Link</button>
  </div>

  <div collapse="nowPosting !== 'text'">
    <text-post groups='groups'></text-post>
  </div>
  <div collapse="nowPosting !== 'image'">
    <image-post groups='groups'></image-post>
  </div>
  <div collapse="nowPosting !== 'link'">
    <link-post groups='groups'></link-post>
  </div>

  <br>

  <div class='col-sm-3' ng-controller='GroupsCtrl'>
    <button class='btn btn-default' ng-click='addGroupModal()'>Add Groups</button>

    <div ng-repeat='(groupId, group) in groups'>
      <div class='row'>
        <div class='col-sm-3'>
          <h3 ng-click='switchTab($index)'> {{ group.name }}</h3>
        </div>
        <div class='col-sm-3'>
          <a class='btn btn-danger' ng-click='removeGroup(groupId)'>Delete</a>
        </div>
      </div>
      <div collapse='$parent.groupTab !== $index'>
        <div ng-repeat='(id, name) in group.members'>
          <div class='row'>
            <div class='col-sm-6'>
              {{ name }}
            </div>
            <div class='col-sm-3'>
              <button ng-click='removeMember(groupId, id)'>Delete</button>
            </div>
          </div>
        </div>
        <button ng-click='addMemberModal(groupId)'>Add Member</button>
      </div>

    </div>

    <h3 ng-if='!groups.$getIndex().length'>No Groups. Add One!</h3>
  </div>

  <div class='col-sm-6'>
    <label>Filter by Group:</label>

    <select multiple ng-options='{id: groupId, members: group.members} as group.name for (groupId, group) in groups' ng-model='viewingGroups'>
    </select>

    <div ng-repeat='post in posts | postExists | byGroup: viewingGroups'>
      <post post='post'></post>
    </div>
  </div>

  <div class='col-sm-3' ng-controller='FriendsCtrl'>
    <div class="btn-group">
      <button class='btn btn-default' ng-click="show('friendList')">Friends</button>
      <button class='btn btn-default' ng-click="show('addingFriends')">Add</button>
      <button class='btn btn-default' ng-click="show('pending')">Pending</button>
    </div>

    <div ng-repeat='(id, name) in friends' collapse="showing !== 'friendList'">
      <div class='row'>
        <div class='col-sm-3'>
          <button ng-click='removeFriend(id)'>Remove</button>
        </div>
        <div class='col-sm-9'>
          {{name}}
        </div>
      </div>
    </div>

    <div ng-repeat='friend in fbFriends | notFriends: friends: pendingInvites' collapse="showing !== 'addingFriends'">
      <div class='row'>
        <div class='col-sm-3'>
          <button ng-click='requestFriend(friend)'>+</button>
        </div>
        <div class='col-sm-9'>
          {{friend.name}}
        </div>
      </div>
    </div>

    <div ng-repeat='(id, name) in pendingInvites' collapse="showing !== 'pending'">
      <div class='row'>
        <div class='col-sm-3'>
          <button ng-click='cancelRequest(id)'>Remove</button>
        </div>
        <div class='col-sm-9'>
          {{name}}
        </div>
      </div>
    </div>

  </div>
</div>
