<!-- NAV BAR -->
<div class="navbar navbar-default" role="navigation" ng-controller='AuthCtrl'>
  <div class='container-fluid'>
    <div class="navbar-header">
      <a class="navbar-brand eco" href="/">
        <div class = "eco">coffeehouse</div>
      </a>
    </div>

    <ul class='nav navbar-nav navbar-right' ng-show='loggedIn()'>
      <li>
        <div class='navbar-brand'>
          <img ng-src='{{pic}}'>
        </div>
        <p class='navbar-text'>{{ name }}</p>
      </li>
      <li>
        <a ng-click="logout()">Logout</a>
      </li>
    </ul>

  </div>
</div>
<!-- END NAV BAR -->

<!-- GROUPS -->
<div class='row'>
  <div class='col-sm-3 group-bar'>
    <!-- FILTERS-->
    <h3>filter:</h3>
    <h5>group</h5>
    <multi-select input-model="groupsSelect" button-label="name" item-label="name" tick-property="selected" output-model="viewingGroups">
    </multi-select>

    <br> post type</br>

    <multi-select input-model="postTypeSelect" button-label="name" item-label="name" tick-property="selected" output-model="viewingTypes">
    </multi-select>
    <!-- END FILTERS -->

    <div ng-controller='GroupsCtrl'>


      <div ng-repeat='(groupId, group) in groups'>
        <div ng-click='switchTab($index)' class='row group-row btn-warning'>
          <div>
            <h4> {{ group.name }}</h4>
          </div>
        </div>
        <div class='group-delete'>
          <a ng-click='removeGroup(groupId)'>X</a>
        </div>
        <div collapse='$parent.groupTab !== $index'>
          <div ng-repeat='(id, name) in group.members'>
            <div class='row'>
              <div class='col-sm-6'>
                {{ name }}
              </div>
              <div class='col-sm-3'>
                <button ng-click='removeMember(groupId, id)'>Delete</button>
              </div>
            </div>
          </div>
          <button ng-click='addMemberModal(groupId)'>Add Member</button>
        </div>

      </div>

      <h3 ng-if='!groups.$getIndex().length'>no groups,<br>add one!</h3>
    </div>
         <div class="add-group" ng-click='addGroupModal()'>
          add a group
      </div>
  </div>
  <!-- END GROUP -->

  <div class='col-sm-6'>
    <!--  Post Buttons  -->
    <div class='post-buttons'>
      <button class='btn btn-default' ng-click="textPostModal()">Text</button>
      <button class='btn btn-default' ng-click="imagePostModal()">Image</button>
      <button class='btn btn-default' ng-click="linkPostModal()">Link</button>
    </div>
    <!-- END POST Buttons -->

    <br>

    <div ng-repeat="(id, post) in posts | postExists | byGroup: viewingGroups | byType: viewingTypes | orderBy:'timeStamp':true">
      <post post='post'></post>
    </div>

  </div>


  <!--FRIEND LISTS -->
  <div class='col-sm-3' ng-controller='FriendsCtrl'>

    <div class="btn-group">
      <button class='btn btn-default' ng-click="show('friendList')">Friends</button>
      <button class='btn btn-default' ng-click="show('addingFriends')">Add</button>
      <button class='btn btn-default' ng-click="show('pending')">Pending</button>
    </div>

    <div ng-repeat='(id, name) in friends' collapse="showing !== 'friendList'">
      <div class='row'>
        <div class='col-sm-3'>
          <button ng-click='removeFriend(id)'>Remove</button>
        </div>
        <div class='col-sm-9'>
          {{name}}
        </div>
      </div>
    </div>

    <div ng-repeat='friend in fbFriends | notFriends: friends: pendingInvites' collapse="showing !== 'addingFriends'">
      <div class='row'>
        <div class='col-sm-3'>
          <button ng-click='requestFriend(friend)'>+</button>
        </div>
        <div class='col-sm-9'>
          {{friend.name}}
        </div>
      </div>
    </div>

    <div ng-repeat='(id, name) in pendingInvites' collapse="showing !== 'pending'">
      <div class='row'>
        <div class='col-sm-3'>
          <button ng-click='cancelRequest(id)'>Remove</button>
        </div>
        <div class='col-sm-9'>
          {{name}}
        </div>
      </div>
    </div>

  </div>
  <!-- END FRIEND LIST -->
</div>


