<!-- NAV BAR -->
<div class="navbar navbar-default" role="navigation" ng-controller='AuthCtrl'>
  <div class='container-fluid'>
    <div class="navbar-header">
      <a class="navbar-brand eco" href="/">
        <div class="eco">coffeehouse</div>
      </a>
    </div>

    <ul class='nav navbar-nav navbar-right' ng-show='loggedIn()'>
      <li>
        <div class='navbar-brand'>
          <img class="hello" ng-src='{{pic}}'>
        </div>
        <p class='navbar-text'>{{ name }}</p>
      </li>
      <li>
        <a ng-click="logout()">Logout</a>
      </li>
    </ul>

  </div>
</div>
<!-- END NAV BAR -->

<!-- GROUPS -->
<div class='row'>
  <div class='col-sm-3 group-bar'>
    <!-- FILTERS-->
    <h3>filter by:</h3>
    <h4>group</h4>
    <multi-select input-model="groupsSelect" button-label="name" item-label="name" tick-property="selected" output-model="viewingGroups">
    </multi-select>

    <br><h4>post type</h4>

    <multi-select input-model="postTypeSelect" button-label="name" item-label="name" tick-property="selected" output-model="viewingTypes">
    </multi-select>
    <!-- END FILTERS -->
    <br>
    <br>
    <h3> your groups.</h3>
    <div ng-controller='GroupsCtrl'>


      <div ng-repeat='(groupId, group) in groups'>
        <div ng-click='switchTab($index)' class="btn groups">
             {{ group.name }}
          </div>
        <div class='group-delete'>
          <a ng-click='removeGroup(groupId)' class="glyphicon glyphicon-remove"></a>
        </div>
        <div collapse='$parent.groupTab !== $index'>
          <div ng-repeat='(id, name) in group.members'>
            <div class='row'>
              <div class="col-sm-6 groupmembername">
                {{ name }}
              </div>
              <div class='col-sm-3'>
                <a class="deletemember glyphicon glyphicon-remove" ng-click='removeMember(groupId, id)'></a>
              </div>
            </div>
          </div>
          <a class="addMember" ng-click='addMemberModal(groupId)'>add member</a>
        </div>

      </div>

      <h3 ng-if='!groups.$getIndex().length'>no groups,<br>add one!</h3>
      <div class="add-group btn glyphicon glyphicon-plus" ng-click='addGroupModal()'>
      </div>
    </div>
  </div>
  <!-- END GROUP -->

  <div class='col-sm-6'>
    <!--  Post Buttons  -->
    <div class='post-buttons'>
      <button class='btn btn-default' ng-click="textPostModal()">Text</button>
      <button class='btn btn-default' ng-click="imagePostModal()">Image</button>
      <button class='btn btn-default' ng-click="linkPostModal()">Link</button>
    </div>
    <!-- END POST Buttons -->

    <br>

    <div ng-repeat="(id, post) in posts | postExists | byGroup: viewingGroups | byType: viewingTypes | orderBy:'timeStamp':true">
      <post post='post' ng-controller='PostsCtrl'></post>
    </div>

  </div>


  <!--FRIEND LISTS -->
  <div class='col-sm-3' ng-controller='FriendsCtrl'>

    <div class="btn-group">
      <button class='btn btn-default' ng-click="show('friendList')">Friends</button>
      <button class='btn btn-default' ng-click="show('addingFriends')">Add</button>
      <button class='btn btn-default' ng-click="show('pending')">Pending</button>
    </div>

    <div ng-repeat='(id, name) in friends' collapse="showing !== 'friendList'">
      <div class='row'>
          <a class ="glyphicon glyphicon-remove" ng-click='removeFriend(id)'></a>
          {{name}}
        </div>
      </div>
    </div>

    <div collapse="showing !== 'addingFriends'">
      <div class='row' ng-repeat='friend in paginatedFriends[currentPage - 1] | notFriends: friends: pendingInvites'>
        <div class='col-sm-3'>
          <button ng-click='::requestFriend(friend)'>+</button>
        </div>
        <div class='col-sm-9'>
          {{::friend.name}}
        </div>
      </div>
      <pager total-items="fbFriends.length" items-per-page="itemsPerPage" ng-model="currentPage"></pager>
    </div>

    <div ng-repeat='(id, name) in pendingInvites' collapse="showing !== 'pending'">
      <div class='row'>
        <div class='col-sm-3'>
          <button ng-click='cancelRequest(id)'>Remove</button>
        </div>
        <div class='col-sm-9'>
          {{name}}
        </div>
      </div>
    </div>

  </div>
  <!-- END FRIEND LIST -->
</div>


