<div class='row'>
  <div class='col-sm-8'>
    <div class='row'>
      <div class='col-sm-3'>
        <label>Title</label>
      </div>
      <div class="col-sm-9">
        <input class='form-control' type="text" ng-model='postTitle'>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3'>
        <label>Content</label>
      </div>
      <div class='col-sm-9'>
        <textarea class="form-control" rows="3" ng-model='postContent'></textarea>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <label>Groups:</label>

    <multi-select input-model="groupsSelect" button-label="name" item-label="name" tick-property="selected" output-model="postGroups">
    </multi-select>
  </div>
</div>
<div class='row'>
  <div class='col-sm-offset-3 col-sm-2 live-post'>
    <button type='submit' class='btn btn-default' ng-click='makePost(postTitle, postContent, postGroups); $close();'>Post</button>
  </div>
</div>
